
html.page-home {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-image: url('/images/bg001.jpg');
    background-color: transparent;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; */
    background: linear-gradient( #00ae66, transparent), linear-gradient( 90deg, #3072f6, transparent), linear-gradient( -90deg, #FF6A6A, transparent);
    background-blend-mode: screen;
}

.article-content p{
    color: #101D37;
}

/* .article-content h1,
.article-content h2,
.article-content h3{
    font-weight: bold;
    display: inline-block;
    border-bottom: #3072f6 solid 2px;
    position: relative;
    margin-left: 40px;
} */

/* .article-content h1::before{
    position: absolute;
    content: '🌻';
    left: -40px;
}

.article-content h2::before{
    position: absolute;
    content: '🍀';
    left: -40px;
}

.article-content h3::before{
    position: absolute;
    content: '🌽';
    left: -40px;
} */

.toc-article a:hover{
    color: #3072f6;
    font-weight: bold;
}

.icon-wechat::after{
    content: '';
    width: 100px;
    height: 100px;
    background: url('/images/wechat.jpg') no-repeat;
    margin-top: 20px;
    display: inline-block;
    background-size: cover;
}

html.dark .content-home .nav .item a:hover{
    font-weight: bold;
    color: #FFF;
}

.content-home .nav{
    color: #222;
}

.content-home .nav .item a:hover{
    color: #eee;
}

@media only screen and (max-width: 800px) {
    html.page-home {
        background-image: url('http://pinduoduoimg.yangkeduo.com/wxappimg/live/2020-02-04/05da220d-f02c-4e31-944a-4139e6aa356b.jpg');
        background-color: transparent;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .content-home .nav, .content-home .nav .item a, .content-home .name, .content-home .slogan{
        color: #fff;
    }
}